# IDE
.idea/

# (dot)ENV
.env
__pycache__/

# env
venv/
env/


logs/
notebooks/
references/
.DS_Store
data/
token.pickle
*.swp
final_vt*

.ipynb_checkpoints
mongo_to_df.ipynb
mongo_data_munging.ipynb
trend_clustering.ipynb
static/images