<!-- https://stackoverflow.com/questions/53836114/chart-js-not-updating-or-receiving-data-from-flask-python 

https://www.youtube.com/watch?v=De-zusP8QVM
http://tmroyal.github.io/Chart.HeatMap/
-->

{% extends 'base.html' %}

{% block header %}
    <h1 class="display-5">{{ header }}</h1>
{% endblock %}

{% block content %}

<!-- bar chart canvas element -->

<div class="row" style="margin-bottom: 20px">
  <div class="col-sm-4">
    <div class="card">

      <div class="card-body">
      	<h5 class="card-title">Trends</h5>
      	<canvas id="vt_chart1" height="300"></canvas>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
      	<h5 class="card-title">Trends</h5>
      	<canvas id="vt_chart2" height="300"></canvas>

      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
      	<h5 class="card-title">Trends</h5>
      	<canvas id="vt_chart3" height="300"></canvas>

      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom: 20px">
    <div class="col-sm-12">
    <div class="card">

      <div class="card-body">
        <h5 class="card-title">Trends</h5>
      <div id="regions_div" style="width: 100%; height: 500px;"></div>
      </div>
    </div>
  </div>
</div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart', 'geomap'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyC4Fmq5AnzuOuVc8S97bdTf0K5hqAlWxas'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Region', 'Trend Volume'], // DMA codes: https://support.highwinds.com/customer/en/portal/articles/2558870-list-of-dma-codes?b_id=15425
          ['501', 250], // New York City
          ['803', 200], // Los Angeles
          ['602', 300], // Chicago
          ['623', 400], // Dallas
          ['618', 500], // Houston
          ['511', 600], // Washington, D.C.
          ['528', 700], // Miami
          ['504', 800], // Philadelphia
          ['524', 450], // Atlanta
          ['506', 350], // Boston
          ['807', 250], // San Francisco
          ['505', 750], // Detroit
          ['819', 150], // Seattle
        ]);

        var options = {
          colors: [getRandomColor()],
          region: 'US',
          dataMode: 'markers',
          resolution: 'metros',
          legend: null,
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>

<script>

function getRandomColor() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}

// Global parameters:
// do not resize the chart canvas when its container does (keep at 600x400px)
Chart.defaults.global.responsive = true;

// define the chart data
var chartData = {
  labels : [{% for item in data['labels'] %}
             "{{item}}",
            {% endfor %}],
  datasets : [{
      label: '{{ data['legend'] }}',
      fill: true,
      lineTension: 0.1,
      backgroundColor: "rgba(75,192,192,0.4)",
      borderColor: "rgba(75,192,192,1)",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      borderWidth: 1,
      pointBorderColor: "rgba(75,192,192,1)",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: getRandomColor(),
      pointHoverBorderColor: getRandomColor(),
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data : [{% for item in data['values'] %}
                {{item}},
              {% endfor %}],
      spanGaps: false
  }]
}
 
// get chart canvas
var ctx1 = document.getElementById("vt_chart1").getContext("2d");
var ctx2 = document.getElementById("vt_chart2").getContext("2d");
var ctx3 = document.getElementById("vt_chart3").getContext("2d");

// create the chart using the chart canvas
var vt_chart1 = new Chart(ctx1, {
  type: 'bar',
  data: chartData,
});

var vt_chart2 = new Chart(ctx2, {
  type: 'doughnut',
  data: chartData,
});

var vt_chart3 = new Chart(ctx3, {
  type: 'polarArea',
  data: chartData,
});

</script>

{% endblock %}

