{% extends 'base.html' %}

{% block header %}
    <h1 class="display-5">{{ header }}</h1>

    <div class="btn-toolbar mb-2 mb-md-0">
      <a href="/shopify-delete">
        <button id="delete_shopify" type="button" class="btn btn-sm btn-danger">Delete All</button>
      </a>
    </div>{% endblock %}

{% block subheader %}
  {{ subheader }}  <small class="text-mute h6" style="opacity: .5">Newest to oldest, top to bottom</small>
{% endblock %}

{% block content %}

<div class="card-columns">
  {% for d in data %}
  <div class="card">
    <br>
    <img class="card-img-top" src="{{ d['image']['src'] }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ d['title'] }}</h5>
      <a href="https://viraltees.io/products/{{ d['handle'] }}" class="card-text">Shopify: {{ d['id'] }}</a>
      <p class="card-text"><small class="text-muted">Posted: <br>{{ d['created_at'] }}</small></p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}