{% extends 'base.html' %}

{% block header %}
  {{ header }}
{% endblock %}

{% block subheader %}
  {{ subheader }}
{% endblock %}

{% block content %}
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Timestamp</th>
        <th>Location</th>
        <th>Name</th>
        <th>Volume</th>
      </tr>
    </thead>
    <tbody>
      {% for d in data %}
         <tr>
            <td> {{ d['_id'] }} </th>
            <td> {{ d['datestamp'] }} </th>
            <td> {{ d['loc'] }} </th>
            <td> {{ d['name'] }} </td>
            <td> {{ d['tweet_volume'] }} </td>
         </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}