{% extends 'base.html' %}

{% block header %}
    <h1 class="display-5">{{ header }}</h1>

{% endblock %}

{% block subheader %}
  {{ subheader }}
{% endblock %}

{% block content %}
<div class="table-responsive" id="table">
  <table class="table table-striped table-hover table-sm" data-toggle="table">
    <thead>
      <tr>
        <th scope="col" class="sort" data-sort="id">#</th>
        <th scope="col" class="sort" data-sort="time">Timestamp</th>
        <th scope="col" class="sort" data-sort="loc">Location</th>
        <th scope="col" class="sort" data-sort="name">Name</th>
        <th scope="col" class="sort" data-sort="vol">Volume</th>
      </tr>
    </thead>
    <tbody class="list">
      {% for d in data %}
         <tr>
            <td scope="row" class="id"> {{ d['_id'] }} </th>
            <td class="time"> {{ d['datestamp'] }} </th>
            <td class="loc"> {{ d['loc'] }} </th>
            <td class="name"> {{ d['name'] }} </td>
            <td class="vol"> {{ d['tweet_volume'] }} </td>
         </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}